.container {
    display: flex;
    flex-direction: column;
}

.usersContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;

}

.row {
    display: flex;
    justify-content: space-between;
}

.cell {
    width: 25%;

}

.chatButton {
    background-color: red;
    width: 25%;
    color: white;
    font-size: large;
    margin-top: 60px;
}